<?xml version="1.0" encoding="UTF-8"?>
<plugindata>
  <baseparams>
    <dsu value="о"/>
    <hp value="H"/>
    <mn value="з"/>
    <mv value="M"/>
  </baseparams>
  <levels>
    <array index="1" value="1000" native="1"/>
    <array index="2" value="13499" native="1"/>
    <array index="3" value="25999" native="1"/>
    <array index="4" value="45999" native="1"/>
    <array index="5" value="85999" native="1"/>
    <array index="6" value="135999" native="1"/>
    <array index="7" value="235999" native="1"/>
    <array index="8" value="385999" native="1"/>
    <array index="9" value="635999" native="1"/>
    <array index="10" value="985999" native="1"/>
    <array index="11" value="1485999" native="1"/>
    <array index="12" value="2135999" native="1"/>
    <array index="13" value="2935999" native="1"/>
    <array index="14" value="4085999" native="1"/>
    <array index="15" value="5535999" native="1"/>
    <array index="16" value="7235999" native="1"/>
    <array index="17" value="9235999" native="1"/>
    <array index="18" value="11550999" native="1"/>
    <array index="19" value="14150999" native="1"/>
    <array index="20" value="17900999" native="1"/>
    <array index="21" value="22900999" native="1"/>
    <array index="22" value="29150999" native="1"/>
    <array index="23" value="36650999" native="1"/>
    <array index="24" value="45400999" native="1"/>
    <array index="25" value="55400999" native="1"/>
    <array index="26" value="75000999" native="1"/>
    <array index="27" value="110000999" native="1"/>
    <array index="28" value="165000999" native="1"/>
    <array index="29" value="235000999" native="1"/>
    <array index="30" value="320000999" native="1"/>
    <array index="31" value="470000999" native="1"/>
  </levels>
  <levregexp>
    <key value="^Уровень          Опыт            Макс на урв."/>
    <level value="^\[[0-9 ]+\] +([0-9,]+)"/>
    <separators value=","/>
    <skipprompt value="^Листать :.*"/>
  </levregexp>
  <maxparams>
    <hp value="1"/>
    <hpid value="r1"/>
    <mn value="1"/>
    <mnid value="r3"/>
    <mv value="2"/>
    <mvid value="r1"/>
    <xp value="1"/>
    <xpid value="r2"/>
  </maxparams>
  <regexp>
    <r1 value="^Вы можете выдержать [0-9]+\(([0-9]+)\).*, и пройти [0-9]+\(([0-9]+)\)"/>
    <r2 value="^Ваш опыт - ([0-9]+)"/>
    <r3 value="^Ваша магическая энергия [0-9]+\(([0-9]+)\) и вы восстанавливаете [0-9]+ в сек\."/>
  </regexp>
</plugindata>
